h1 {

	font-family: "Times New Roman";
	font-size: 24px;
	font-style: bold;
	color: #33FFEC;
	background-image;https://i.pinimg.com/736x/7c/b4/8c/7cb48c00a24062f55d435d30fbd90dff--disney-wallpaper-tsum-tsum-wallpaper.jpg
	border-style: dotted;
	border-width: 5px 10px 5px 10px;
	border-color: #AF7AC5;
	float: left;
	float: right;
	clear: both;
}

a{
	font-family:"Fanwood Text";
	color: #CCEFF;
}

ul {
	list-style-type:none;
}
